## Stage A Graded Quiz

#### Importing Libries

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('fuel_ferc1.csv')

In [3]:
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

### Question One

In [4]:
a = [1,2,3,4,5,6]
b = [13,21,34]

In [5]:
a.append(b)
a
# Using this will put another list B into list A, making it the subset of A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

In [12]:
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A
# This is the correct answer. It join the two list together, making it one list.

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question Two

In [13]:
# This numpy identity array automatically create an identity matrix in Python
# We set the 3 in the bracket to print 3 by 3 matrix for us

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question Three

In [16]:
# Let use groupby to sort and get the lowest average fuel cost per unit burned
data[['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']].groupby(['fuel_type_code_pudl'],
    as_index=False).mean().sort_values(by='fuel_cost_per_unit_burned', ascending=False)

# Gas has the lowest average cost per unit burned

  fuel_type_code_pudl  fuel_cost_per_unit_burned
2             nuclear                4955.157002
3                 oil                 168.877086
0                coal                  67.421830
5               waste                  19.518122
4               other                  18.253856
1                 gas                  13.659397

### Question Four

In [17]:
# To get the standard deviation and 75th percentile of fuel_mmbtu_per_unit, we will use the descibe() function
data.describe()

# Our standard deviation and 75th percntile are 8.49 and 17.01 respectively

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

### Question Five

In [18]:
# let import skew and kurtosis library
from scipy.stats import kurtosis
from scipy.stats import skew

In [19]:
skew(data['fuel_qty_burned'])

15.850690077422112

In [20]:
kurtosis(data['fuel_qty_burned'])

651.2589365474387

#### The answer is 15.85 and 651.26 respectively



### Question Six

In [21]:
# let cheak for missing value
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

#### Column "fuel_unit" as 180 missing value, so let cheak for it percentage as a factor of the total number of rows

In [26]:
#let cheak how many rows and columns we have in the dataset
data.shape

(29523, 11)

In [25]:
# Since the total number of rows is 29523 rows
percentage = (180 / 29523) * 100
percentage

0.609694136774718

#### Feature: fuel_unit, Total: 180, Percent: 0.61%

### Question Seven

In [28]:
# let use function info() to cheak where each features fall to
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [31]:
# let cheak the unique values in the column with the missing values
data['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

#### Since the mcf is the most common, we will fill the missing values with it.
#### Answer is - Categorical and mode imputation

### Question Eight

In [27]:
# let find the data corretion between each features
data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

#### Apparently, "fuel_qty_burned" and "fuel_mmbtu_per_unit" has the second and third lowest correlatoin with the  fuel_cost_per_unit_burned.

### Question Nine

In [62]:
# let group fuel_type with report_year and find the sum for each year by fuel_cost_per_unit_burned
cost = data.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum()
cost.head()

fuel_type_code_pudl  report_year
coal                 1994           14984.572
                     1995           14571.785
                     1996           12694.803
                     1997           43742.178
                     1998           11902.597
Name: fuel_cost_per_unit_burned, dtype: float64

In [66]:
# let find the percentage change in the fuel cost per unit burned in 1998 compared to 1994
percentage = ((11902.597 - 14984.572) / 14984.572 ) * 100
percentage

-20.567654518260518

#### The percentage change in the fuel cost per unit burned in 1998 compared to 1994 is -21%

### Question Ten

In [67]:
# let use use groupby to group and sort it, to get the year with the highest average fuel cost per unit delivered 
av_yr = data[['report_year', 'fuel_cost_per_unit_delivered']].groupby(['fuel_cost_per_unit_delivered'],
    as_index=False).mean().sort_values(by='fuel_cost_per_unit_delivered', ascending=False)
av_yr.head()

       fuel_cost_per_unit_delivered  report_year
16674                     7964521.0       1997.0
16673                     7793482.0       1996.0
16672                     2255688.0       1997.0
16671                     2114508.0       1996.0
16670                     1942979.0       1997.0

#### From the above table, 1997 has the highest average fuel cost per unit delivered